2016_07_10/Windows/OiLegal.BusinessEntities/Fontes/Library/WebReferences/SolicitarCadastroFixa/SolicitarRelatorioDadosCadastraisFixaRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://alsb.telemar/xsd/TerminalFixo/SolicitarRelatorioDadosCadastraisFixaRequest" xmlns:esb="http://alsb.telemar/soap/esb" elementFormDefault="qualified" targetNamespace="http://alsb.telemar/xsd/TerminalFixo/SolicitarRelatorioDadosCadastraisFixaRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>25/08/2009 - Cria????o do arquivo  :: Raphael Ribeiro</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="SolicitarRelatorioDadosCadastraisFixaRequest" type="tns:SolicitarRelatorioDadosCadastraisFixaRequest" />
  <xsd:complexType name="SolicitarRelatorioDadosCadastraisFixaRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoSelecao" type="tns:codigoSelecaoType" />
      <xsd:element minOccurs="0" name="idSolicitacao" type="tns:idSolicitacaoType" />
      <xsd:element name="itemSolicitacao" type="tns:itemSolicitacaoType" />
      <xsd:element minOccurs="0" name="dataInicioPesquisa" type="tns:dataInicioPesquisaType" />
      <xsd:element minOccurs="0" name="dataFimPesquisa" type="tns:dataFimPesquisaType" />
      <xsd:element minOccurs="0" name="DDD" type="tns:DDDType" />
      <xsd:element minOccurs="0" name="terminal" type="tns:terminalType" />
      <xsd:element minOccurs="0" name="cpfCnpj" type="tns:cpfCnpjType" />
      <xsd:element minOccurs="0" name="UF" type="tns:UFType" />
      <xsd:element minOccurs="0" name="codLocalidade" type="tns:codLocalidadeType" />
      <xsd:element minOccurs="0" name="bairro" type="tns:bairroType" />
      <xsd:element minOccurs="0" name="tipoLogradouro" type="tns:tipoLogradouroType" />
      <xsd:element minOccurs="0" name="nomeLogradouro" type="tns:nomeLogradouroType" />
      <xsd:element minOccurs="0" name="numeroImovel" type="tns:numeroImovelType" />
      <xsd:element minOccurs="0" name="complemento" type="tns:complementoType" />
      <xsd:element minOccurs="0" name="nomeCliente" type="tns:nomeClienteType" />
      <xsd:element minOccurs="0" name="matriculaUsuario" type="tns:matriculaUsuarioType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UFType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="matriculaUsuarioType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoSelecaoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nomeClienteType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="54" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="complementoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="21" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeroImovelType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
      <xsd:pattern value="([0-9]?){5}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cpfCnpjType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14" />
      <xsd:pattern value="([0-9]?){14}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="terminalType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DDDType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
      <xsd:pattern value="([0-9]?){5}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="itemSolicitacaoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idSolicitacaoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dataInicioPesquisaType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
      <xsd:pattern value="([0-9]?){8}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dataFimPesquisaType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
      <xsd:pattern value="([0-9]?){8}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="bairroType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nomeLogradouroType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="34" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tipoLogradouroType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codLocalidadeType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>