2016_07_10/Windows/OiLegal.BusinessEntities/Fontes/Library/WebReferences/SolicitarCadastroMovel/ResponseControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:esb="http://alsb.telemar/soap/esb" elementFormDefault="unqualified" targetNamespace="http://alsb.telemar/soap/esb" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ResponseControl" type="esb:ResponseControlType" />
  <xsd:complexType name="ResponseControlType">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="reason" type="xsd:string" />
      <xsd:element name="detail" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>